body{
	margin: 0;
	padding: 0;
	background-color: #000000;
}

.clock{
	margin: 0 auto;
}

#time{
	font-size: 100px;
  	font-weight: bold;
  	text-align: center;
  	color: transparent;
  	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  	animation-name: flash;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(.26, 1, .93, .11);
    animation-iteration-count: infinite;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}